<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 large text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/bBHigWozsrg?start=45" frameborder="0" allowfullscreen></iframe></p>

                    <p align="justify" class="large text-muted"><i>We All Live in Bhopal</i> is a play devised by Sudhir Selvaraj about the Union Carbide Gas Tragedy. With it being 30 years since the events , the script is a way to engage audiences about this significant chapter in Indian history. Through detailed primary and secondary research, the play takes a deeper look at the disaster that has and continues to affect thousands of people.</p>

                    <p align="justify" class="large text-muted">The play focuses on five pivotal events over the last three decades from the perspective of the victims, the activists and the companies involved. These scenes invite us to explore topics such as environmental damage, the role of civil society and the issue of corporate responsibility. Finally, by looking at Bhopal, audiences are challenged to examine the possibility of other budding calamities in their own context.</p>

                    <p align="justify" class="large text-muted"> A unique aspect of the performances is a discussion that follows each show. Our performers worldwide include students, researchers, teachers, and IT professionals. Almost none of them had any prior theatre experience but through workshops they learned to use theatre to spark conversation.</p>
                </div>
            </div>
        </div>
    </section>