<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 large text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <p align="justify" class="large text-muted"><i>We All Live in Bhopal</i> is a play devised by Sudhir Selvaraj on the occasion of the 30th anniversary of the Bhopal Gas Disaster as a way to engage audiences about this significant chapter in Indian history. Through detailed primary and secondary research, the play takes a deeper look at the disaster that affected and continues to effect thousands.</p>

                    <p align="justify" class="large text-muted">The play focuses on five pivotal events over the last three decades from the perspective of those involved including victims, activists and the CEOs. The play explores many topics including environmental damage, the role of civil society and corporate irresponsibility. Through examination of the events in Bhopal, audiences are challenged to think about other calamities that are currently in the making, to try and take some lessons from the past.</p>

                    <p align="justify" class="large text-muted"> A unique aspect of the series of performances is a discussion that follows each performance. The performances are a product of workshops held with participants who are not professional actors, but community members who are trained by us to become facilitators who use theatre as a means to spark conversation in their community. Our performers worldwide include students, researchers, teachers, and IT professionals.</p>
                </div>
            </div>
        </div>
    </section>