<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 large text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading large text-muted">A brief introduction to <strong>We All Live in Bhopal</strong></h3>
                </div>
            </div>

<p align="justify" class="large text-muted"><i>We All Live in Bhopal</i> is a play devised by Sudhir Selvaraj on the occasion of the 30th anniversary of the Bhopal Gas Disaster as a way to engage audiences about an important chapter in Indian history. Through in-depth research, the play takes a look at the disaster beyond the headlines.</p>

<p align="justify" class="large text-muted">The play focuses on five pivotal events over the last three decades from the perspective of those involved. It analyses what happened on that night and the repercussions that are felt even today. Exploring topics of environmental damage, the role of civil society, and corporate irresponsibility, the play is constructed based on first hand accounts from survivors, activists and corporate executives.</p>

<p align="justify" class="large text-muted">Conscious of the fact that a majority of Indians were born after the disaster occured, the play is primarily devised to target young people. A unique aspect of the series of performances is a discussion that follows each performance. Through examination of the events in Bhopal audiences are challenged to think about other calamities that are currently in the making, to try and take some lessons from the past.</p>

<p align="justify" class="large text-muted">Performances have been hosted in the US, UK, and India in reputed institutions such as King's College London; School of Oriental and African Studies, University of London; Concordia College, Minnesota and National Centre for Biological Sciences, Bangalore. The performances are a product of workshops held with participants. Participants are not professional actors, but community members who are trained by the Renegade Arts and Theatre Society to become facilitators to use theatre as a means to spark conversation in their community. Our performers worldwide include students, researchers, teachers, and IT professionals across 9 different countries.</p>

        </div>
    </section>