<!-- Timeline Section -->
    <section id="playtimeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 large text-center">
                    <h2 class="section-heading">Performances around the world</h2>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013 - 2014</h4>
                                    <h4 class="subheading">London</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Playwright Sudhir Selvaraj led workshops for students from King's College London, London School of Economics and School of Oriental and African Studies and hosted performances in the city. Each performance entailed working with the participants to adapt the script to meet their interests.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2014</h4>
                                    <h4 class="subheading">Minnesota</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Concordia College, Minnesota hosted a dramatic reading of the play in the Barry Auditorium. The performance was directed by David Wintersteen, Director of the Concordia College Theatre. Playwright Sudhir Selvaraj spent the week leading up to the performance teaching in classes, addressing public lectures and also hosted the post-reading discussion to a full house.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 - 2015</h4>
                                    <h4 class="subheading">Bangalore</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our efforts have been conccentrated in Bangalore. These include fourteen productions in performance spaces, educational instiutions and community clubs. Through our partnership with Visthar: Academy for Peace and Justice Studies, we have helped conduct workshops and performances for students and faculty of Davidson College, Concordia College, Union Presbyterian Seminary and Columbia Seminary.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a class="page-scroll" href="#contact">
                                <div class="timeline-image">
                                    <h4>Be Our
                                        <br>Next 
                                        <br>Stop!</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>