<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Renegade Arts and Theatre Society</h2>
                    <h3 class="section-subheading text-muted">This was all made possible through the hard work of so many people, some of whom are included below; Our Thanks to everyone who lent a hand.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">All performances of <i>We All Live in Bhopal</i> have been produced by the Renegade Arts and Theatre Society. These have been done as a result of workshops in universities or through performances by our troupe.</p>

                    <p class="large text-muted">Renegade Arts and Theatre Society - a multi-experience platform based in Bangalore that seeks to raise the level of conversation about pertinent issues in society</p>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ member.gravatar }}?s=200&d=identicon" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>